// Import bootstrap CSS library and font-awesome SVG icons
@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/scss/font-awesome.scss';

// Styles for text tagger to show outline when the text is moused over
.outline-on-hover {
    border-radius: 4px;
    border: 1px solid transparent;
    word-spacing: 0px;
    font-size: 1.1rem;
}

.outline-on-hover:hover {
    border: 1px solid #212529;
    word-spacing: 0px;
}
